.card {
  &.is-active {
    background-color: $green;
  }

  &:not(:last-child) {
    .card__details {
      border-bottom: 1px dashed $green;
    }
  }

  &__details {
    align-items: center;
    display: flex;
    padding: 0 $gutter;
    @include max-screen(414px) {
      padding: $gutter;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__date {
    align-items: center;
    background-color: $dark-blue;
    border: $gutter/2 solid transparent;
    color: $white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    justify-content: center;
    margin-right: $gutter*2;
    min-width: 14rem;
    padding: $gutter/2;
    &:hover {
      background-color: $green;
    }
    @include max-screen(414px) {
      flex-direction: row;
      justify-content: space-between;
      margin-right: 0;
      width: 100%;
      padding: $gutter/4 $gutter;
    }

    .card.is-active & {
      border: $gutter/2 solid $dark-blue;
      background-color: $green;
    }
  }

  &__month {
    font-size: 2.2rem;
  }

  &__weekday {
    font-size: 1.1rem;
  }

  &__month,
  &__weekday {
    font-weight: 900;
    text-transform: uppercase;
    @include max-screen(414px) {
      font-size: 1.8rem;
    }
  }

  &__location {
    height: 100%;
    padding: $gutter 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  &__run {
    display: inline-block;
    background-color: $dark-blue;
    color: $white;
    padding: $gutter/6 $gutter/2;
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-transform: uppercase;

    &:not(:last-of-type) {
      margin-right: $gutter/4;
    }
  }

  &__venue {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
  }

  &__address {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: -0.1rem;
  }

  &__controls {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    @include max-screen(414px) {
      align-self: stretch;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
    }

    & > * {
      @include max-screen(414px) {
        width: calc(50% - #{$gutter/2});
      }
      &:not(:last-child) {
        margin-bottom: $gutter/4;
        @include max-screen(414px) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__button {
    cursor: pointer;
    display: inline-block;
    background-color: $dark-blue;
    padding: $gutter/2 $gutter/2;
    min-width: 15rem;
    text-align: center;
    color: $white;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    @include max-screen(414px) {
      padding: $gutter/1.5;
    }

    .card:not(.is-active) & {
      &:hover {
        background-color: $green;
      }
    }

    &--toggle {
      &::before {
        content: "Expand";
      }
      &[aria-selected="true"] {
        &::before {
          content: "Collapse";
        }
      }
    }
  }

  &__sets {
    background-color: $green;
    color: $white;
    padding: $gutter $gutter $gutter*2;
    display: flex;
    max-width: 100%;
    @include max-screen(414px) {
      flex-direction: column;
    }

    &-thumbnail {
      background-color: $dark-blue;
      border: 1rem solid $dark-blue;
      width: 14rem;
      height: 14rem;
      margin-right: $gutter*2;
      @include max-screen(414px) {
        order: 2;
        width: 100%;
        height: auto;
      }
      &:hover {
        background-color: $yellow;
        transition: background-color 100ms ease;
      }
    }

    &-title {
      color: $white;
      display: block;
      font-size: 1.2rem;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: $gutter/2;
    }

    &-set {
      flex: 1;
      list-style: none;
      margin: 0;
      margin-bottom: $gutter*2;
      padding-left: 0;
      &:not(:last-of-type) {
        padding-right: $gutter*2;
      }
    }

    &-song {
      color: $dark-blue;
      font-size: 1.6rem;
      // font-style: oblique;
      font-weight: 900;
      letter-spacing: -1px;
      // text-transform: uppercase;
      margin-bottom: 0.5rem;
      &:hover {
        color: $yellow;
      }
    }
  }
}
