.card {
  &:hover {
    .card__date {
      background-color: $green;
      transition: background-color 100ms ease;
    }
  }

  &__details {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 12rem;
    padding: 0 $gutter;
    &:not(:last-of-type) {
      border-bottom: 1px dashed $green;
    }

    &[aria-selected="true"] {
      background-color: $green;
      .card__date {
        background-color: $green;
      }
    }
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14rem;
    margin-right: $gutter*2;
    height: 8rem;
    background-color: $dark-blue;
    color: $white;
    flex-direction: column;
    font-size: 1.1rem;
  }

  &__month,
  &__weekday {
    font-weight: 900;
    text-transform: uppercase;
  }

  &__month {
    font-size: 2.6rem;
    margin-bottom: $gutter/4;
  }

  &__weekday {
    font-size: 1.1rem;
  }

  &__location {
    height: 100%;
    padding: 2rem 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    text-transform: uppercase;
  }

  &__run {
    display: inline-block;
    background-color: $dark-blue;
    color: $white;
    padding: $gutter/6 $gutter/2;
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: .1rem;

    &:not(:last-of-type) {
      margin-right: $gutter/4;
    }
  }

  &__venue {
    font-size: 3.2rem;
    font-weight: 900;
  }

  &__address {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: -0.1rem;
  }

  &__sets {
    background-color: $green;
    color: $white;
    padding: 0 $gutter $gutter*2;
    display: flex;

    &-thumbnail {
      background-color: $dark-blue;
      padding: $gutter/2;
      width: 14rem;
      height: 14rem;
      margin-right: $gutter*2;
      &:hover {
        background-color: $yellow;
        transition: background-color 100ms ease;
      }
    }

    &-title {
      display: block;
      font-size: 1.2rem;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: $gutter/2;
    }

    &-set {
      list-style: none;
      max-width: 100%;
      margin: 0;
      padding-left: 0;
      width: 28rem;
      &:not(:last-of-type) {
        padding-right: $gutter*2;
      }
    }

    &-song {
      color: $dark-blue;
      font-size: 1.6rem;
      // font-style: oblique;
      font-weight: 900;
      letter-spacing: -1px;
      // text-transform: uppercase;
      margin-bottom: 0.5rem;
      &:hover {
        color: $yellow;
      }
    }
  }
}
