.setlist {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  @include max-screen(414px) {
    flex-direction: column;
  }

  &__set {
    flex: 1;
    margin: 0;
    padding: 0;

    ol {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      &:not(:last-child) {
        margin-bottom: $gutter;
      }
    }
  }

  &__title {
    color: $white;
    display: block;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: $gutter/2;
    &.set-length { margin-bottom: $gutter/4; }
  }

  &__song {
    align-items: flex-start;
    color: $dark-blue;
    display: flex;
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: -1px;
    margin-bottom: 0.8rem;

    span {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }

    &.segue_true {
      &::after {
        content: "➤";
        font-size: 65%;
        margin: .3rem 0 0 1rem;
      }

      & + li {
        margin-left: $gutter/2;
      }
    }

    small {
      font-size: 65%;
    }
  }
}
