$sidebar-width: 30rem;

.show-details__info {
  display: grid;
  grid-gap: 0 $gutter;
  grid-template-columns: 1fr $sidebar-width;
  padding: $gutter*2 0 0;
  @include max-screen(960px) {
    grid-template-columns: 1fr;
  }

  .setlist__song {
    font-size: 1.8rem;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
  }

  &__sidebar {
    align-self: flex-end;
    display: grid;
    grid-gap: $gutter/2;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 900;
    text-transform: uppercase;
    @include max-screen(960px) {
      margin-top: $gutter;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  &__card {
    align-items: center;
    background-color: $dark-blue;
    color: $white;
    display: flex;
    flex-direction: column;
    font-size: 6rem;
    height: calc(#{$sidebar-width}/2 - #{$gutter}/2);
    justify-content: center;
    padding: $gutter $gutter/2;
    text-align: center;
    &::after,
    &.show-weather span {
      display: inline-block;
      font-size: 1.2rem;
      margin-top: auto;
    }

    &.show-weather {
      font-size: 7rem;
      i {
        &.wi-forecast-io-rain {
          transform: translateY(-1rem);
        }
        &.wi-forecast-io-partly-cloudy-day {
          transform: translateY(1rem);
        }
      }
      @include max-screen(960px) {
        font-size: 6rem;
        grid-row-start: 2;
      }
    }

    &.song-total {
      @include max-screen(960px) {
        grid-row-start: 2;
      }
      &::after {
        content: "Songs";
      }
    }

    &.show-hours {
      &::after {
        content: "Hours";
      }
    }

    &.show-minutes {
      &::after {
        content: "Minutes";
      }
    }
  }

  .thumbnail {
    grid-column: span 2;
    @include max-screen(960px) {
      grid-column: span 1;
      grid-column-start: 3;
      grid-row: span 2;
    }
  }
}
