.thumbnail {
  // background-color: $dark-blue;
  // border: 1rem solid $dark-blue;
  height: auto;
  position: relative;
  // &:hover {
  //   &::after {
  //     cursor: pointer;
  //     align-items: center;
  //     background-color: rgba($dark-blue, 0.75);
  //     display: flex;
  //     font-size: 1.8rem;
  //     justify-content: center;
  //     line-height: 1.6;
  //     padding: $gutter;
  //     position: absolute;
  //     text-align: center;
  //     top: 0; left: 0; right: 0; bottom: 0;
  //     color: $white;
  //     content: "Purchase Show on Live Phish";
  //   }
  // }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
