.year {
  background-color: $green;
  padding: $gutter;

  &-title {
    font-size: 7.2rem;
    margin-top: $gutter;
    margin-bottom: $gutter*2;
  }

  &__header {
    display: flex;
    align-items: stretch;
    margin-bottom: $gutter;
    color: $white;

    &--details {
      background-color: $dark-blue;
      color: $white;
      padding: $gutter;
      font-weight: 900;
      text-transform: uppercase;
      &:not(:last-of-type) {
        margin-right: $gutter;
      }

      &-title {
        padding: $gutter/4 $gutter;
        display: inline-block;
        font-size: 1.2rem;
        background-color: $green;
        letter-spacing: -.5px;
        color: $dark-blue;
        // margin-bottom: $gutter/2;
      }

      h2 {
        font-size: 3.6rem;
        margin: $gutter/2 0 $gutter/4;
        letter-spacing: -1px;
      }

      h3 {
        font-size: 1.4rem;
        font-weight: bold;
        & > span {
          color: $green;
          font-size: 1.8rem;
          margin: 0 .3rem;
        }
      }
    }
  }

  .length {
    h1 {
      background-color: $dark-blue;
      font-size: 1.4rem;
      width: 100%;
      // letter-spacing: .5px;
      text-transform: uppercase;
      padding: $gutter $gutter $gutter/2;
      color: $white;
    }
    &-chart {
      border: 1rem solid $dark-blue;
    }
  }
}
