.year {
  background-color: $green;
  padding: $gutter;

  &-title {
    font-size: 7.2rem;
    margin-top: $gutter;
    margin-bottom: $gutter*2;
  }

  &__header {
    display: flex;
    align-items: stretch;
    margin-bottom: $gutter;
    color: $white;

    & > div {
      &:not(:last-of-type) {
        margin-right: $gutter;
      }
    }

    &--totals {
      background-color: $dark-blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: $gutter;
      min-width: 15rem;

      h2 {
        font-size: 4.8rem;
        font-weight: 900;
      }

      span {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
      }
    }

    &--song {
      background-color: $dark-blue;
      color: $white;
      padding: $gutter;
      font-weight: 900;
      text-transform: uppercase;

      &-title {
        padding: $gutter/4 $gutter;
        display: inline-block;
        font-size: 1.2rem;
        background-color: $green;
        letter-spacing: -.5px;
        color: $dark-blue;
        // margin-bottom: $gutter/2;
      }

      h2 {
        font-size: 4.2rem;
        font-weight: 900;
        margin: $gutter/4 0;
        letter-spacing: -1px;
      }

      h3 {
        font-size: 1.2rem;
        font-weight: bold;
        & > span {
          color: $green;
          font-size: 1.6rem;
          margin: 0 .3rem;
        }
      }
    }
  }

  .length {
    h1 {
      background-color: $dark-blue;
      font-size: 1.4rem;
      width: 100%;
      // letter-spacing: .5px;
      text-transform: uppercase;
      padding: $gutter $gutter $gutter/2;
      color: $white;
    }
    &-chart {
      border: 1rem solid $dark-blue;
    }
  }
}
