@import "~normalize.css";
@import "~sass-mediaqueries/media-queries";
@import "base/variables";
@import "mixins/container";
@import "mixins/full-height";
@import "mixins/placeholder";

* {
  box-sizing: border-box;
  &:focus { outline: none; }
}
a {
  color: inherit;
  text-decoration: none;
}
img { vertical-align: middle; }
h1, h2, h3, h4, h5, h6, p { margin: 0; }
html { font-size: 62.5%; }
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Base
@import "base/typography";

// Layouts
@import "layouts/header";
@import "layouts/main";
// @import "layouts/show";
// @import "layouts/albums";
@import "layouts/footer";

// Pages
@import "pages/shows";
// @import "pages/shows-list";
@import "pages/show-details";
@import "pages/year";

// Components
@import "components/loading";
@import "components/search";
@import "components/runs";
@import "components/shows-card";
@import "components/show-details-header";
@import "components/show-details-info";
@import "components/show-details-map";
@import "components/show-details-charts";
@import "components/setlist";
@import "components/thumbnail";
@import "components/tabs";
