@import "~normalize.css";
@import "~sass-mediaqueries/media-queries";
@import "base/variables";
@import "mixins/container";
@import "mixins/full-height";

* {
  box-sizing: border-box;
  &:focus { outline: none; }
}
img { vertical-align: middle; }
h1, h2, h3, h4, h5, h6, p { margin: 0; }
html { font-size: 62.5%; }
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Layouts
@import "layouts/header";
@import "layouts/main";
// @import "layouts/show";
// @import "layouts/albums";
@import "layouts/footer";

// Pages
@import "pages/shows-list";

// Components
// @import "components/cards";
@import "components/shows-list-item";
@import "components/setlist";
@import "components/thumbnail";
