.header {
  align-items: center;
  background-color: $dark-blue;
  color: $yellow;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding: 0 $gutter;
  position: sticky;
  top: 0;
  z-index: 999;

  h1 {
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  a {
    color: $yellow;
    font-size: 1.2rem;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    &:not(:last-of-type) { margin-right: $gutter; }
    &:hover,
    &.is-active { text-decoration: underline; }
  }
}
